
# build folders.
[Bb][Uu][Ii][Ll][Dd]
[Bb][Uu][Ii][Ll][Dd]-*

# Intellij
.idea/
lib


# VS-Code IDE files.
.vscode


# MacOS files.
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows files.

Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Linux files.
*~
*#
.fuse_hidden*
.directory
.Trash-*
.nfs*

# python files.
__pycache__
.cache
.venv
.coverage
.shiv
*.spec

# asset files
assets
